html {
  scroll-behavior: smooth;
}

#home, #graph, #table {
  min-height: 100vh;
  padding: 100px 20px;
}

#home {
  background: #f5f5f7;
}

#graph {
  background: #eaf4fc;
}

#table {
  background: #f9f9f9;
}
